<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="RepositoryFolder" value="C:\Folder Structure\Prontodoc Repository"/>
    <add key="DBXConnectionString" value="server=192.168.3.30;uid=sa; pwd=123456; database=DBx_Web"/>
    <add key="AppConnectionString" value="server=192.168.3.30;uid=sa; pwd=123456; database=AllDataTypes"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
