<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.station.moudles.mapper.GprsConfigReadMapper">
	<resultMap id="BaseResultMap" type="com.station.moudles.entity.GprsConfigRead">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
		<result column="read_done" property="readDone" jdbcType="TINYINT" />
		<result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, gprs_id, read_done, read_time
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from gprs_config_read
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectListSelective" resultMap="BaseResultMap" parameterType="com.station.moudles.entity.GprsConfigRead">
		select
		<include refid="Base_Column_List" />
		from gprs_config_read
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="gprsId != null">
				and gprs_id = #{gprsId,jdbcType=VARCHAR}
			</if>
			<if test="readDone != null">
				and read_done = #{readDone,jdbcType=TINYINT}
			</if>
			<if test="readTime != null">
				and read_time = #{readTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<select id="selectListSelectivePaging" resultMap="BaseResultMap" parameterType="com.station.moudles.vo.search.PageEntity">
		select
		<include refid="Base_Column_List" />
		from gprs_config_read
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="gprsId != null">
				and gprs_id like "%${gprsId}%"
			</if>
			<if test="readDone != null">
				and read_done = #{readDone,jdbcType=TINYINT}
			</if>
			<if test="readTime != null">
				and read_time = #{readTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from gprs_config_read
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteByPKs" parameterType="java.lang.Integer">
		delete from gprs_config_read
		where
		<foreach collection="array" index="index" separator="or" item="item">
			id = #{item,jdbcType=INTEGER}
		</foreach>
	</delete>

	<delete id="deleteSelective" parameterType="com.station.moudles.entity.GprsConfigRead">
		delete from gprs_config_read
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="gprsId != null">
				and gprs_id = #{gprsId,jdbcType=VARCHAR}
			</if>
			<if test="readDone != null">
				and read_done = #{readDone,jdbcType=TINYINT}
			</if>
			<if test="readTime != null">
				and read_time = #{readTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</delete>

	<insert id="insert" parameterType="com.station.moudles.entity.GprsConfigRead" useGeneratedKeys="true" keyProperty="id">
		insert into gprs_config_read (gprs_id, read_done, read_time
		)
		values (#{gprsId,jdbcType=VARCHAR}, #{readDone,jdbcType=TINYINT}, #{readTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.station.moudles.entity.GprsConfigRead" useGeneratedKeys="true" keyProperty="id">
		insert into gprs_config_read
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gprsId != null">
				gprs_id,
			</if>
			<if test="readDone != null">
				read_done,
			</if>
			<if test="readTime != null">
				read_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="gprsId != null">
				#{gprsId,jdbcType=VARCHAR},
			</if>
			<if test="readDone != null">
				#{readDone,jdbcType=TINYINT},
			</if>
			<if test="readTime != null">
				#{readTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.station.moudles.entity.GprsConfigRead">
		update gprs_config_read
		<set>
			<if test="gprsId != null">
				gprs_id = #{gprsId,jdbcType=VARCHAR},
			</if>
			<if test="readDone != null">
				read_done = #{readDone,jdbcType=TINYINT},
			</if>
			<if test="readTime != null">
				read_time = #{readTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.station.moudles.entity.GprsConfigRead">
		update gprs_config_read
		set gprs_id = #{gprsId,jdbcType=VARCHAR},
		read_done = #{readDone,jdbcType=TINYINT},
		read_time = #{readTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>