<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.station.moudles.mapper.SubDeviceMapper">
	<resultMap id="BaseResultMap" type="com.station.moudles.entity.SubDevice">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sub_device_id_out" property="subDeviceIdOut"
			jdbcType="CHAR" />
		<result column="sub_device_id" property="subDeviceId" jdbcType="CHAR" />
		<result column="gprs_id" property="gprsId" jdbcType="VARCHAR" />
		<result column="cell_sort" property="cellSort" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<!-- ADD -->
		<result column="sub_flag"  property="subFlag" jdbcType="INTEGER"/>
		<!-- 10/10 add 备用从机的规格和设备类型  -->
		<result column="sub_spec" property="subSpec" jdbcType="VARCHAR"/>
		<result column="sub_type" property="subType" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, sub_device_id_out, sub_device_id, gprs_id, cell_sort,
		update_time,sub_flag,sub_spec,sub_type
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sub_devices
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectListSelective" resultMap="BaseResultMap"
		parameterType="com.station.moudles.entity.SubDevice">
		select
		<include refid="Base_Column_List" />
		from sub_devices
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="subDeviceIdOut != null">
				and sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR}
			</if>
			<if test="subDeviceId != null">
				and sub_device_id = #{subDeviceId,jdbcType=CHAR}
			</if>
			<if test="gprsId != null">
				and gprs_id = #{gprsId,jdbcType=VARCHAR}
			</if>
			<if test="cellSort != null">
				and cell_sort = #{cellSort,jdbcType=INTEGER}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			 <if test="subFlag != null">
				and sub_flag = #{subFlag,jdbcType=INTEGER}				
			</if> 
			<!--10/10 add 备用从机的规格和设备类型 -->
			<if test="subSpec != null">
				and sub_spec like "%${subSpec}%"
			</if>
			<if test="subType != null">
				and sub_type like "%${subType}%"
			</if>
		</where>
	</select>

	<select id="selectListSelectivePaging" resultMap="BaseResultMap"
		parameterType="com.station.moudles.vo.search.PageEntity">
		select
		<include refid="Base_Column_List" />
		from sub_devices
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="subDeviceIdOut != null">
				and sub_device_id_out like "%${subDeviceIdOut}%"
			</if>
			<if test="subDeviceId != null">
				and sub_device_id like "%${subDeviceId}%"
			</if>
			<if test="gprsId != null">
				and gprs_id like "%${gprsId}%"
			</if>
			<if test="cellSort != null">
				and cell_sort = #{cellSort,jdbcType=INTEGER}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			 <if test="subFlag != null">
				and sub_flag =#{subFlag,jdbcType=INTEGER}
			</if>
			 <!-- 10/10add 备用从机的规格和设备类型 -->
			<if test="subSpec != null">
				and sub_spec like "%${subSpec}%"
			</if>
			<if test="subType != null">
				and sub_type like "%${subType}%"
			</if> 
		</where>
		order by id desc
	</select>

	<select id="selectListCountSelective" resultType="int"
		parameterType="com.station.moudles.entity.SubDevice">
		select count(*)
		from sub_devices
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="subDeviceIdOut != null">
				and sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR}
			</if>
			<if test="subDeviceId != null">
				and sub_device_id = #{subDeviceId,jdbcType=CHAR}
			</if>
			<if test="gprsId != null">
				and gprs_id = #{gprsId,jdbcType=VARCHAR}
			</if>
			<if test="cellSort != null">
				and cell_sort = #{cellSort,jdbcType=INTEGER}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="subFlag != null">
				and sub_flag = #{subFlag,jdbcType=INTEGER}
			</if>
		</where>
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sub_devices
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteByPKs" parameterType="java.lang.Integer">
		delete from sub_devices
		where
		<foreach collection="array" index="index" separator="or" item="item">
			id = #{item,jdbcType=INTEGER}
		</foreach>
	</delete>
	<delete id = "deleteMoreSubDevice" parameterType="java.util.Map">
		delete from sub_devices
		where cell_sort
		BETWEEN  #{map.startIndex} and  #{map.endIndex}
		and gprs_id =#{map.gprsId} 
	
	</delete>
	

	<delete id="deleteSelective" parameterType="com.station.moudles.entity.SubDevice">
		delete from sub_devices
		<where>
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="subDeviceIdOut != null">
				and sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR}
			</if>
			<if test="subDeviceId != null">
				and sub_device_id = #{subDeviceId,jdbcType=CHAR}
			</if>
			<if test="gprsId != null">
				and gprs_id = #{gprsId,jdbcType=VARCHAR}
			</if>
			<if test="cellSort != null">
				and cell_sort = #{cellSort,jdbcType=INTEGER}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="subFlag != null">
				and sub_flag = #{subFlag,jdbcType=INTEGER}
			</if>
		</where>
	</delete>

	<insert id="insert" parameterType="com.station.moudles.entity.SubDevice"
		useGeneratedKeys="true" keyProperty="id">
		insert into sub_devices
		(sub_device_id_out, sub_device_id, gprs_id,
		cell_sort, update_time,sub_flag,sub_spec,sub_type)
		values (#{subDeviceIdOut,jdbcType=CHAR}, #{subDeviceId,jdbcType=CHAR},
		#{gprsId,jdbcType=VARCHAR},
		#{cellSort,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP},
		#{subFlag,jdbcType=INTEGER},
		#{subSpec,jdbcType=VARCHAR},
		#{subType,jdbcType=INTEGER})
	</insert>

	<insert id="insertSelective" parameterType="com.station.moudles.entity.SubDevice"
		useGeneratedKeys="true" keyProperty="id">
		insert into sub_devices
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="subDeviceIdOut != null">
				sub_device_id_out,
			</if>
			<if test="subDeviceId != null">
				sub_device_id,
			</if>
			<if test="gprsId != null">
				gprs_id,
			</if>
			<if test="cellSort != null">
				cell_sort,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="subFlag != null">
				sub_flag,
			</if>
			<!-- 10/10 add 备用从机的规格和设备类型  -->
			<if test="subSpec != null">
				sub_spec,
			</if>
			<if test="subType !=null">
				sub_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="subDeviceIdOut != null">
				#{subDeviceIdOut,jdbcType=CHAR},
			</if>
			<if test="subDeviceId != null">
				#{subDeviceId,jdbcType=CHAR},
			</if>
			<if test="gprsId != null">
				#{gprsId,jdbcType=VARCHAR},
			</if>
			<if test="cellSort != null">
				#{cellSort,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="subFlag != null">
				#{subFlag,jdbcType=INTEGER},
			</if>
			<!-- 10/10 add 备用从机的规格和设备类型  -->
			<if test="subSpec != null">
				#{subSpec,jdbcType=VARCHAR},
			</if>
			<if test="subType != null">
				#{subType,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.station.moudles.entity.SubDevice">
		update sub_devices
		<set>
			<if test="subDeviceIdOut != null">
				sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR},
			</if>
			<if test="subDeviceId != null">
				sub_device_id = #{subDeviceId,jdbcType=CHAR},
			</if>
			<if test="gprsId != null">
				gprs_id = #{gprsId,jdbcType=VARCHAR},
			</if>
			<if test="cellSort != null">
				cell_sort = #{cellSort,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="subFlag != null">
				 sub_flag =#{subFlag,jdbcType=INTEGER},
			</if>
			<!-- 10/10 add 备用从机的规格和设备类型  -->
			<if test="subSpec != null">
				 sub_spec =#{subSpec,jdbcType=VARCHAR},
			</if>
			<if test="subType != null">
				 sub_type =#{subType,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.station.moudles.entity.SubDevice">
		update sub_devices
		set sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR},
		sub_device_id
		= #{subDeviceId,jdbcType=CHAR},
		gprs_id = #{gprsId,jdbcType=VARCHAR},
		cell_sort = #{cellSort,jdbcType=INTEGER},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 10/16 add 根据sub_device_id 修改 -->
	
	<update id="updateByPrimaryKeySelectiveBySubDdviceId" parameterType="com.station.moudles.entity.SubDevice">
		update sub_devices
		<set>
			<if test="subDeviceIdOut != null">
				sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR},
			</if>
		<!-- 	<if test="subDeviceId != null">
				sub_device_id = #{subDeviceId,jdbcType=CHAR},
			</if> -->
			<if test="gprsId != null">
				gprs_id = #{gprsId,jdbcType=VARCHAR},
			</if>
			<if test="cellSort != null">
				cell_sort = #{cellSort,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="subFlag != null">
				 sub_flag =#{subFlag,jdbcType=INTEGER},
			</if>
			<!-- 10/10 add 备用从机的规格和设备类型  -->
			<if test="subSpec != null">
				 sub_spec =#{subSpec,jdbcType=VARCHAR},
			</if>
			<if test="subType != null">
				 sub_type =#{subType,jdbcType=INTEGER},
			</if>
		</set>
		where sub_device_id = #{subDeviceId,jdbcType=CHAR}
	</update>
	
	<update id="updateSubTypeByGprsId" parameterType="com.station.moudles.entity.SubDevice">
		update sub_devices
		<set>
			<if test="subDeviceIdOut != null">
				sub_device_id_out = #{subDeviceIdOut,jdbcType=CHAR},
			</if>
			<if test="subDeviceId != null">
				sub_device_id = #{subDeviceId,jdbcType=CHAR},
			</if> 
		<!-- 	<if test="gprsId != null">
				gprs_id = #{gprsId,jdbcType=VARCHAR},
			</if> -->
			<if test="cellSort != null">
				cell_sort = #{cellSort,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="subFlag != null">
				 sub_flag =#{subFlag,jdbcType=INTEGER},
			</if>
			<!-- 10/10 add 备用从机的规格和设备类型  -->
			<if test="subSpec != null">
				 sub_spec =#{subSpec,jdbcType=VARCHAR},
			</if>
			<if test="subType != null">
				 sub_type =#{subType,jdbcType=INTEGER},
			</if>
		</set>
		where gprs_id = #{gprsId,jdbcType=CHAR}
	</update>

</mapper>